:root {
  --primary-color: #2E8B57;
  --secondary-color: #FFFFFF;
  --tertiary-color: #333333;
  --background-color: #F5F5DC;
  --hover-color: tomato;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-color);
  color: var(--tertiary-color);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Josefin Sans", sans-serif;
  background-color: var(--primary-color);
  color: var(--background-color);
  padding: 20px;
}

.logo h1 {
  font-size: 1.5rem;
  margin: 0;
}

#nav-menu ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

#nav-menu ul li a {
  color: var(--secondary-color);
  text-decoration: none;
  font-weight: 700;
}

#nav-menu ul li a:hover {
  text-decoration: underline;
  color: var(--hover-color);
}

.hero {
  max-width: 1200px;
  margin: 20px auto;
  background-color: var(--background-color);
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  text-align: center;
  padding: 40px;
  background-image: url('../images/eco-travel-hero.webp');
  background-size: cover;
  color: var(--secondary-color);
}

.hero img {
  width: 100%;
  max-width: 100%;
  border-radius: 8px;
  margin: 10px;
}

.hero h2 {
  color: var(--primary-color);
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.75rem;
  margin-bottom: 10px;
}

.hero p {
  line-height: 1.6;
}

.featured-articles, .featured-trips, .carbon-calculator, .testimonials, .blog, .contact-us, .booking-form {
  max-width: 1200px;
  margin: 20px auto;
  background-color: var(--secondary-color);
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  padding: 20px;
  text-align: center;
}

.featured-articles h2, .featured-trips h2, .carbon-calculator h2, .testimonials h2, .blog h2, .contact-us h2, .contact-us h3, .booking-form h2 {
  font-family: "Josefin Sans", sans-serif;
  color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
  padding-bottom: 5px;
  margin-bottom: 20px;
  font-size: 1.5rem;
}

.article-grid, .trip-grid, .tour-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

.article, .trip, .tour-card {
  background-color: var(--secondary-color);
  border: 1px solid var(--background-color);
  border-radius: 6px;
  text-align: center;
  padding: 15px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.article img, .trip img, .tour-card img {
  width: 100%;
  height: auto;
  border-radius: 6px;
  margin-bottom: 10px;
}

.article h3, .trip h3 {
  font-family: "Josefin Sans", sans-serif;
  color: var(--primary-color);
}

.article p, .travel-guides p, .trip p, .blog article p, .contact-info p, .business-hours p {
  font-size: 1rem;
  line-height: 1.4;
  font-family: "Port Lligat Sans", sans-serif;
  color: var(--tertiary-color);
  padding: 10px;
}

.article a, .trip a, .blog article h3 a, .additional-resources a, .live-chat-link, .social-media a {
  text-decoration: none;
  font-weight: 700;
  color: var(--secondary-color);
}

.article a:hover, .article h3:hover, .trip h3:hover, .blog article h3 a:hover, .additional-resources a:hover, .live-chat-link:hover, .social-media a:hover {
  color: var(--hover-color);
  text-decoration: underline;
}

.trip {
  background: var(--secondary-color);
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 5px 5px rgba(0,0,0,0.3);
}

.trip img {
  width: 100%;
  border-radius: 8px;
}

.btn, .blog .btn, .booking-form button, .contact-us button, .carbon-calculator button {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 2px 15px;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover, .blog .btn:hover, .booking-form button:hover {
  background-color: var(--hover-color);
}

.carousel-container {
  position: relative;
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel img {
  width: 100%;
  border-radius: 8px;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--background-color);
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
}

.carousel-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.prev {
  left: -10px;
}

.next {
  right: 10px;
}

footer {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-family: "Port Lligat Sans", sans-serif;
  text-align: center;
  padding: 15px;
  margin-top: 30px;
}

span {
  color: var(--tertiary-color);
  font-weight: 700;
}

.social-media, .follow-us {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  margin: 5px;
}

.social-media a i {
  color: var(--secondary-color);
  transition: all 0.3s ease-in-out;
}

.follow-us a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 700;
}

.social-media a i:hover, .follow-us a:hover {
  color: var(--hover-color);
}

.contact-us label, .carbon-calculator label, .booking-form label {
  font-size: 1rem;
  color: var(--tertiary-color);
  display: block;
  margin-bottom: 10px;
}

.contact-us input, .contact-us textarea, .carbon-calculator input, .booking-form input, .booking-form select, .booking-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--tertiary-color);
  border-radius: 5px;
  margin-bottom: 10px;
}

.contact-info, .map, .business-hours, .social-media {
  margin-top: 20px;
}

.map iframe {
  width: 100%;
  border: none;
  border-radius: 8px;
}

.business-hours {
  margin: 20px;
}

.additional-resources {
  background-color: var(--secondary-color);
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 30px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.4);
}

.additional-resources h2, .travel-guides h2 {
  color: var(--primary-color);
  margin-bottom: 15px;
  border-bottom: 2px solid var(--primary-color);
}

.additional-resources ul {
  list-style: disc;
  margin-left: 20px;
  margin-bottom: 15px;
}

.live-chat {
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
  padding: 15px;
  border-radius: 4px;
  text-align: center;
}

.banner img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
}

button {
  color: var(--tertiary-color);
  font-weight: 600;
  padding: 5px;
  border: solid 1px var(--tertiary-color);
  cursor: pointer;
}

button:hover, .contact-us button:hover, .carbon-calculator button:hover {
  background-color: var(--primary-color);
  text-decoration: underline;
  border-radius: 10px;
}

@media (max-width: 768px) { 
  .hamburger {
  display: none;
  position: absolute; 
  top: 20px; 
  right: 20px;
  cursor: pointer;
  flex-direction: column;
  gap: 5px;
  }

  .bar {
  width: 30px;
  height: 4px;
  background-color: var(--secondary-color);
  border-radius: 2px;
  transition: all 0.3s ease;
  }
  
  .hamburger.active .bar:nth-child(1) {
  transform: rotate(50deg) translate(6px, 9px);
  }
  
  .hamburger.active .bar:nth-child(2) {
  opacity: 0;
  }

  .hamburger.active .bar:nth-child(3) {
  transform: rotate(-50deg) translate(5px, -9px);
  }

  .hamburger {
  display: flex;
  transition: transform 0.3s ease-in-out;
  }
  
  #nav-menu {
  display: none; 
  }
  
  #nav-menu.active {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   padding: 5px;
  }

  #nav-menu.active ul {
  flex-direction: column;
  gap: 5px;
  }
  
  #nav-menu ul li a {
  display: block;
  padding: 5px;
  text-decoration: none;
  color: var(--secondary-color);
  transition: background 0.3s;
  }
}
