body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    text-align: center;
    background-color: #f9f9f9;
}

form {
    display: inline-block;
    text-align: left;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: white;
    width: 50%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

label, input, select, textarea {
    display: block;
    margin: 10px 0;
    width: 100%;
}

input[type="radio"] { 
    display: none;
    position: relative;
    caret-color: rgba(0, 0, 0, 0);
}

.stars {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
}

.stars > label {
    color: gold;
    width: 30px;
    height: 30px;
    font-size: 2rem;
    margin-left: 5px;
    display: flex;
    align-items: center;
    caret-color: rgba(0, 0, 0, 0);
    cursor: pointer;
}

.stars > label:hover {
    color: black;
}

.stars > label::before {
    content: "\2606";
}

.stars input:checked ~ label::before {
    content: "\2605";
}

fieldset {
    border: none;
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: #28a745;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #218838;
}


/* 
footer {
    margin-top: 20px;
    padding: 5px;
    background-color: #333;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
} */