body {
    font-family: "Port Lligat Sans", sans-serif;
    margin: 0;
    padding: 20px;
    text-align: center;
    background-color: #f9f9f9;
}

header {
    font-family: "Josefin Sans", sans-serif;
    color: rgb(255, 255, 255);
    background-color: #218838;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 1.2rem;
}

form {
    display: inline-block;
    text-align: left;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background: white;
    max-width: 800px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

label, input, select, textarea {
    display: block;
    margin: 10px 0;
    width: 100%;
    padding: 10px;
}

legend, label {
    font-size: 0.9em;
    font-weight: bold;
}

input[type="radio"] { 
    display: none;
    position: relative;
    caret-color: rgba(0, 0, 0, 0);
}

.stars {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.stars > label {
    color: gold;
    width: 30px;
    height: 30px;
    font-size: 2rem;
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    caret-color: rgba(0, 0, 0, 0);
    cursor: pointer;
}

.stars > label:hover {
    color: black;
}

.stars > label::before {
    content: "\2606";
}

.stars input:checked ~ label::before {
    content: "\2605";
}

fieldset {
    border: none;
    margin-bottom: 10px;
}

legend {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}

.checkbox-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.checkbox-group label {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1em;
    cursor: pointer;
}

input[type="checkbox"] {
    width: 18px;
    height: 18px;
    margin: 0;
    cursor: pointer;
}

input[type="submit"] {
    background-color: #28a745;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
}

input[type="submit"]:hover {
    background-color: #1bd443;
}

a:hover {
    color: #ec0909;
    text-decoration: none;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #2E8B57;
    color: white;
    margin-top: 20px;
}

span {
    color: #f8e402;
    font-weight: bold;
}

.option, #review-count {
    color: blue;
}

#lastModified {
    font-size: 0.8em;
    color: #ffea00;
}
